$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);
@mixin media($minmax, $media) {
    @each $size, $resolution in $sizes {
      @if $media == $size {
        @media only screen and (#{$minmax}-width: $resolution) {
          @content;
        }
      } 
    }
}